<nav class="navbar navbar-expand-lg navbar-dark navbar-bg px-5">
    <div class="container-fluid">
      <div class="my-auto">
            <img src="assets/img/logo_circle_white.png" alt="Icono" class="img-fluid max-width-logo me-2">
            <img src="assets/img/logo_sissstem_white.png" alt="Icono SISSSTEM" class="img-fluid max-width-logo-text">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse multi-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
            <a class="nav-link" aria-current="page" routerLink="/inicio" routerLinkActive="active">Inicio</a>
            <a class="nav-link" routerLink="/pacientes" routerLinkActive="active">Pacientes</a>
            <a class="nav-link" routerLink="/consultas" routerLinkActive="active">Consultas</a>
            <a class="nav-link" routerLink="/estadisticas" routerLinkActive="active">Estadísticas</a>
        </div>
      </div>
      <!-- Dropdown de usuario activo -->
      <div class="btn-group collapse navbar-collapse btn-clp multi-collapse">

          <button class="btn-secondary dropdown-toggle" mat-flat-button id="cerrarSesion" data-bs-toggle="dropdown" 
            data-bs-auto-close="false" aria-expanded="false">
            <mat-icon>account_circle</mat-icon>
            <sub class="badge border rounded-circle state-position state-small" [ngClass]="{'bg-success': estado, 'bg-danger': !estado}">
              <span class="text-invisible">.</span>
            </sub>
            Usuario Daymon
          </button>
          <form class="dropdown-menu p-3" aria-labelledby="cerrarSesion">
              <div class="form-check">
                  <input type="radio" class="form-check-input bg-success" [(ngModel)]="estado" [value]="true" name="estado" id="state1" checked>
                  <label for="state1">Disponible</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input bg-danger" [(ngModel)]="estado" [value]="false" name="estado" id="state2">
                <label for="state2">Ocupado</label>
              </div>
              <hr>
              <button class="btn btn-dark w-100">Cerrar sesión</button>
          </form>
      </div>
    </div>
</nav>

<router-outlet></router-outlet>