<div class="container bg-light my-3">
    <h1 class="text-center">Registro especializado de pacientes</h1>
</div>

<form class="mx-auto p-4 bg-light" [formGroup]="formRegistro">
    <div class="mb-3">
        <label for="nombre" class="form-label text-success fw-bolder">Nombre: </label>
        <input type="text" class="form-control" id="nombre" formControlName="Nombre" name="nombre">
        <small class="text-danger d-block" *ngIf="isValidField('Nombre')">
            Debes escribir un nombre válido. Sólo se permiten letras
        </small>
    </div>
    <div class="mb-3">
        <label for="apellidos" class="form-label text-success fw-bolder">Apellidos: </label>
        <input type="text" class="form-control" id="apellidos" formControlName="Apellidos" name="apellidos">
        <small class="text-danger d-block" *ngIf="isValidField('Apellidos')">
            Debes escribir un valor válido. Sólo se permiten letras
        </small>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-6 col-xl-4">
                <label for="sexo" class="form-label text-success fw-bolder">Sexo: </label>
                <select class="form-select" formControlName="Genero" id="sexo">
                    <option value="nada" selected>Seleccione una opción</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
                <small class="text-danger d-block" *ngIf="isValidField('Genero')">
                    Debes seleccionar un valor
                </small>
            </div>
            <div class="col-6 col-xl-4 mb-3 mb-xl-0">
                <label for="edad" class="form-label text-success fw-bolder">Edad: </label>
                <input type="number" class="form-control" id="edad" min="0" formControlName="Edad" name="edad">
                <small class="text-danger d-block" *ngIf="isValidField('Edad')">
                    Debes escribir un valor válido. Sólo se permiten números
                </small>
            </div>
            <div class="col-12 col-xl-4">
                <label for="ingreso" class="form-label text-success fw-bolder">Ingreso mensual: </label>
                <select class="form-select" aria-label="Default select example" formControlName="Nivel_S" id="ingreso">
                    <option value="nada" selected>Seleccione una opción</option>
                    <option value="baja">Menor a $6000</option>
                    <option value="media">$6000 - $20000</option>
                    <option value="alta">Mayor a $20000</option>
                </select>
                <small class="text-danger d-block" *ngIf="isValidField('Nivel_S')">
                    Debes seleccionar un valor
                </small>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <label for="poblacion" class="form-label text-success fw-bolder">Población: </label>
                <select class="form-select" aria-label="Default select example" formControlName="Poblacion" id="poblacion">
                    <option value="nada" selected>Seleccione una opción</option>
                    <option value="urbano">Urbano</option>
                    <option value="rural">Rural</option>
                </select>
                <small class="text-danger d-block" *ngIf="isValidField('Poblacion')">
                    Debes seleccionar un valor
                </small>
            </div>
            <div class="col-6">
                <label for="tipoE" class="form-label text-success fw-bolder">Tipo de enfermedades: </label>
                <select class="form-select" aria-label="Default select example" formControlName="Tipo_E" id="tipoE">
                    <option value="nada" selected>Seleccione una opción</option>
                    <option value="Cardio respiratorias">Cardio respiratorias</option>
                    <option value="Infecciosas">Infecciosas</option>
                    <option value="Del sistema nervioso">Del sistema nervioso</option>
                    <option value="Virales">Virales</option>
                </select>
                <small class="text-danger d-block" *ngIf="isValidField('Tipo_E')">
                    Debes seleccionar un valor
                </small>
            </div>
            
        </div>
    </div>

    <div class="mb-3">
        <label for="enfermedades" class="form-label text-success fw-bolder">Enfermedades: </label>
        <input type="text" id="enfermedades" class="form-control" formControlName="Enfermedades" name="enfermedades">
        <small class="text-danger d-block" *ngIf="isValidField('Enfermedades')">
            No puedes dejar el campo vacío
        </small>
    </div>
</form>
<div class="mb-2 p-3 row bg-light">
    <button class="btn btn-secondary col-4 mx-auto" (click)="clearForm()">Limpiar</button>
    <button class="btn btn-success col-4 mx-auto" (click)="sendData()" [disabled]="formRegistro.invalid">Enviar</button>
</div>

