<div class="container bg-light mt-3">
    <h1 class="text-center">Estadísticas</h1>
</div>
<div class="container bg-light my-3">
    <p class="h5 text-secondary">El presente módulo de estadísticas se conforma mediante datos recopilados de los clientes registrados en SISSSTEM. Los datos no comprometen la privacidad de los pacientes y son usados únicamente bajo fines estadísticos e informativos</p>
</div>
<div class="container bg-light my-3">
    <h5>Género</h5>
    <div class="container">
        <app-barras-genero></app-barras-genero>
    </div>
</div>
<div class="container bg-light my-3">
    <h5>Grupos de edad</h5>
    <div class="container">
        <app-radar-grupos></app-radar-grupos>
    </div>
</div>
<div class="container bg-light my-3">
    <h5>Soocioeconómico</h5>
    <div class="container">
        <app-pie-socioeconomico></app-pie-socioeconomico>
    </div>
</div>
<div class="container bg-light my-3">
    <h5>Poblaciones</h5>
    <div class="container">
        <app-barras-poblacion></app-barras-poblacion>
    </div>
</div>
<div class="container bg-light my-3">
    <h5>Tipos de enfermedad</h5>
    <div class="container">
        <app-pie-enfermedades></app-pie-enfermedades>
    </div>
</div>
